.diagnostic-screener-description {
    font-size: 1.5rem;
    margin-bottom: 2em;
}

.screener-survey-link {
    display: block;
    border: 1px solid #A7AEAF;
    border-radius: 10px;
    padding: .5rem 1rem;
    text-decoration: none;
    text-align: center;
    transition: 100ms ease-out;
    font-size: 1.25rem;
}

.screener-survey-link:visited {
    color: black;
}

.screener-survey-link:hover,
.screener-survey-link:focus-visible {
    background-color: #2D54E8;
    color: white;
    outline: none;
}
