/* TODO: Styling for Diagnostic Screener Questionarie */
.survey-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 3rem;
    padding: 2rem;
}

.survey-answers {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin: 1rem 0;
}

.survey-answer {
    border: 1px solid grey;
    border-radius: 10px;
    padding: .25rem;
    text-align: center;
    cursor: pointer;
}

.survey-answer:hover {
    background-color: aquamarine;
}

.progress-bar {
    width: 80%;
    height: 1rem;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 10px;
}

.progress-bar-fill {
    height: 1rem;
    background-color: aquamarine;
    border-radius: 10px;
    transition: width .2s ease-out;
}
